html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(203, 203, 203);
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1000px;
  padding-top: 20px;
  flex: 1 0 auto;
}

.title {
  font-size: 24pt;
  margin-left: 400px;
}

.list-header {
  background-color: orangered;
  width: 1000px;
  height: 20px;
  margin-top: 20px;
}

.user-login-pic {
  width: 35px;
  height: 35px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.table {
  background-color: white;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(203, 203, 203);
  font-size: 15pt;
}

.login {
  position: relative;
}

.user-login-pic {
  position: absolute;
  margin-left: 70px;
}

.user-name {
  margin-top: 10px;
}

.user-info {
  margin-top: 5px;
  margin-left: 120px;
  margin-bottom: 10px;
}

.user-group {
  margin-top: 5px;
  margin-right: 120px;
}

.user-group--name {
  margin-top: 10px;
}

footer {
  background: #42a5f5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

.footer {
  flex-shrink: 0;
}
