html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  background-color: #f6f6f6;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
}

.content-login {
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  width: 100%;
}

.header__title {
  font-size: 18px;
  margin-top: 30px;
}

.header__description {
  font-size: 14px;
}

#root {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.form-field-username:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: url(../images/user.svg);
}

.form-field-password:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: url(../images/password.svg);
}

.form-field-label {
  position: relative;
  font-size: 14px;
  line-height: 13px;
}

.form-field-label input {
  position: relative;
  top: 1px;
  margin: 0 6px 0 10px;
}

.form-field__input {
  width: 100%;
  height: 42px;
  padding-left: 38px;
  font-size: 15px;
  background: #fff;
  border: 1px solid grey;
  border-radius: 25px;
  outline: none;
}

.form__button {
  position: relative;
  margin-top: 30px;
  width: 420px;
  height: 42px;
  padding: 0 15px;
  font-size: 16px;
  text-align: left;
  color: #fff;
  background-color: #e98c3b;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form__button:after {
  content: "";
  position: absolute;
  top: 6px;
  right: 12px;
  width: 28px;
  height: 28px;
  background: url(../images/right.png);
  background-size: cover;
}

.form__button:hover {
  background-color: #ca7022;
}

.form__button:active {
  background-color: #c0b2a7;
}

.content-list {
  width: 1200px;
  max-width: 90%;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
}

.header-list {
  padding-top: 20px;
  width: 100%;
}

.header-list__title {
  font-size: 36px;
  color: #333;
  padding: 0 0 20px;
}

.header-list-container {
  display: flex;
  justify-items: center;
}

.header-list__title {
  text-align: center;
}

.table {
  border-top: 15px solid rgb(233, 140, 59);
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
  background: #fff;
  height: 90px;
}

.table-row:nth-child(2n) {
  background: #ebebeb;
}

.table-row__icon,
.table-row-name,
.table-row-group {
  display: table-cell;
}

.table-row-name {
  background: url(../images/item-mark.png) no-repeat 90px 22px;
  background-size: auto 30%;
  padding: 25px 0 0 150px;
}

.table-row-group__label {
  margin-bottom: 10px;
}

.table-row-group {
  display: flex;
  flex-direction: column;
}

.table-row-name__username {
  margin-bottom: 10px;
}

.table-row-name__name {
  color: grey;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.pagination__button {
  padding: 0 5px;
  margin: 0 3px;
  font-size: 18px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.pagination__button-active {
  border-bottom: 2px solid rgb(233, 140, 59);
  cursor: text;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #ebebeb;
}

.footer__button {
  position: relative;
  padding: 5px 25px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__button:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../images/exit-icon.png);
  background-size: cover;
}

.footer__button:hover {
  text-decoration: underline;
}
